/* select,
input {
  font-family: var(--font-body);
  font-size: var(--font-size-md);
  background: var(--color-bg-control);
  border-radius: var(--control-radius);
  border: none;
  width: 100%;
  padding: 0 0.5rem;
  height: var(--control-height);
  max-height: var(--control-height);
  min-height: var(--control-height);
  line-height: var(--control-height);
  color: inherit;
  outline: none;
  position: relative;
}

:where(select, input):focus-visible {
  z-index: 1;
  box-shadow:
    inset 0 0 0 1px var(--color-fg),
    0 0 0 1px var(--color-fg);
}

:where(select, input).warn {
  box-shadow:
    inset 0 0 0 1px var(--color-status-warning),
    0 0 0 1px var(--color-status-warning);
}

select {
  padding-right: 2rem;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20"><path d="M5,8 L10,13 L15,8" fill="none" stroke-width="2" stroke-linecap="round" stroke="black"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.5rem top 47.5%;
  background-size: 1.25rem;
} */

/* .form-control {
  align-items: stretch;
  margin-bottom: 1rem;
  padding: var(--padding);
  padding-right: var(--padding-right);
  margin: var(--margin);
  width: var(--width);
  flex: var(--flex);
}

.form-label {
  display: block;
  font-weight: bold;
}

.form-input {
  position: relative;
}

.form-helper-text {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #6b7280;
}

.form-error-message {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #e53e3e;
} */